/* Variable: $mainColor*/
$mainColor: #98d3c4;


.header1 {
    background-color: beige;
    a {
        img {
            border-radius: 2px;
        }               
    }
    ul {
        li {
            a{
                font-style: italic; 
                &:hover {
                    color: brown;
                }
            }
           
        }
    }
}

.title1{
    color: darkslategray;
}

.body1 {
    img {
        border-radius: 15px;
    }
    div {
        section{
            background-color: $mainColor;
            border-radius: 15px;
            li {
                color: black;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-align: left;
                font-style: oblique;
                padding: 15px;
            }           
        }
    }
}